#editor {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 10px;
}

.valider {
    background-color: #808080;
    color: white;
}
    .valider:hover {
        background-color: #1D1B1B;
    }

.editor {
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 17px;
    width: 700px;
    height: 500px;
    position: relative;
    left: 100px;
    background: #E0FFFF;
    margin: 10px auto;
    border: solid #808080 1.5px;
    border-radius: 10px;
}


.cadre {
    background-color: #1D1B1B;
    border-radius: 25px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.modal-ku {
    width: 900px;
    background-color:red;
    margin: auto;
}