#editor {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 10px;
}

button {
    margin-left: 800px;
}

.cadre {
    background-color: #1D1B1B;
    border-radius: 25px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
