<style>
    .contour {
        background-color: #E0FFFF;
        border-radius: 25px;
        padding: 50px;
        margin: 50px;
        margin-left: 80px;
        margin-right: 80px;
    }
</style>
<div class="contour">
   <p style="color: #1D1B1B; font-size:larger;padding-left:60px; padding-top:20px;text-transform:full-width"><b>La version sélectionnée et la version actuelle sont identique</b></p>
</div>
