<style>
    .contour {
        background-color: #1D1B1B;
        border-radius: 25px;
        padding: 50px;
        margin:50px;
        margin-left:80px;
        margin-right:80px;
    }
</style>
<div class="contour">
    <p style="color:white; font-size:larger;padding-left:100px; padding-top:20px;text-transform:full-width">The version selected and the current version are identical</p>
</div>
